.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #888;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Item-list {
  list-style: none;
}

.Item-list li {
  border: 1px dotted gray;
  width: 20%;
  height: 3em;
  margin: auto;
  text-align: left;
}

table {
  margin: 10px;
  border-collapse: collapse;
}

td {
  text-align: left;
  border: 0px blue dotted;
  padding: 5px;
}